.terminalViewWrapper {
  height: 100vh;
  display: flex;
  flex-direction: center;
  justify-content: center;
  flex: 1;
}
.terminalViewInner {
  background-color: #00000099;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  color: white;
  padding: 30px;
  flex: 1;
}
.terminalViewTerminal {
  /* border:1px solid black; */
  border-radius: 25px;
  background-color: #000000ab;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  padding: 30px;
  margin-top: 15px;
  width: 100%;
}
.toppingDisplay {
  margin-bottom: 0px;
  color: #a7c957;
  font-family: Consolas;
  font-weight: 200;
  font-size: 14px;
}

.toppingRemovedDisplay {
  margin-bottom: 0px;
  color: #bc4749;
  font-family: Consolas;
  font-weight: 200;
  font-size: 14px;
}
