.mainPageWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.leftComponentArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:1px solid black; */
}
.rightComponentArea {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

@media screen and (max-width: 700px) {
  .mainPageWrapper {
    flex-direction: column;
  }
}
