.mainPageWrapper {
  display: flex;
  width: 100vw;
}
.leftComponentArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:1px solid black; */
}
.rightComponentArea {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
